@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseFontSize: 1.4rem;
}

@media screen and (min-width: 768px) {
  :root {
    --baseFontSize: 1rem;
  }
}

html {
  font-size: 16px;
}

.no-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input:-internal-autofill-selected {
  @apply bg-white !important;
}

/* Auth style adjustments
 */
.auth-wrapper > * {
  @apply w-full;
}

/* Combobox style adjustments
 */
[data-reach-combobox-popover] {
  @apply z-50  rounded-lg border-transparent !important;
}

[data-suggested-value] {
  @apply font-normal !important;
}
